HEDERA_NETWORK=testnet
HEDERA_ACCOUNT_ID=0.0.xxxxxxx
HEDERA_PRIVATE_KEY=
HEDERA_TOPIC_ID=
HEDERA_COMPLETION_TOPIC_ID=
HEDERA_PSEUDO_PEPPER=
INTERMEDIARY_ACCOUNT_ID=
INTERMEDIARY_SOURCE_KEY=
INTERMEDIARY_DEST_KEY=
MONGO_URI=
